body {
    background: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    color: rgb(46, 160, 1);
}

.grid-livros {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
}

.livro {
    text-align: center;
}

.livro img {
    width: 50%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(46, 160, 1);
}

a {
    text-decoration: aqua;
}

p {
    color: rgb(46, 160, 1);
}
/* MENU */
.menu {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 25px 0;
}

.menu a {
    color: cyan;
    font-size: 22px;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid rgb(46, 160, 1);
    border-radius: 8px;
    transition: 0.3s ease;
    box-shadow: 0 0 10px rgba(46, 160, 1, 0.5);
}

.menu a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(46, 160, 1);
}

/* botão home destacado */
.home-btn {
    color: rgb(46, 160, 1);
    border-color: cyan;
}

/* ANIMAÇÃO DAS IMAGENS DOS FILMES */
.livro img {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.livro img:hover {
    transform: scale(1.08);
    box-shadow: 0 0 25px rgb(46, 160, 1);
}